#picture {
float:right;
  width: 250px;
  height: 70px;
  position:fixed;
  left: 0%;
  top: 0%;
  margin-left: 0px;
  margin-top: 0px;
  background-image: -ms-linear-gradient(top left, #FFFFFF 0%, lightblue 100%);
  background-image: -moz-linear-gradient(top left, #FFFFFF 0%, lightblue 100%);
  background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, lightblue 100%);
  background-image: -o-linear-gradient(top left, #FFFFFF 0%, lightblue 100%);
  z-index: -1;
}
#a {
  position: fixed;
  left: 0%;
  top: 0%;
  margin-left: 12px;
  margin-top: 0px;
}